body {
	font-family: "Courier New";
	background-repeat: no-repeat;
	padding-left: 5em;
	margin: 0;
	padding: 0;
	min-width: 500px;
}

.container {
	width: 100%;
}

div.offset {
	height: 100px;
}

.infoBox {
	display: grid;
	margin-bottom: 15px;
	background: #ffb0b0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
	list-style-type:none;
	margin-top: .5em;
	z-index: 500;
}

a {
	text-decoration: underline;
	color: #000cff
}

div.textBuffer {
	height: 10px;
}

span.left {
	float: left;
}

span.right {
	float: right;
}
#page-wrap {
  width: 600px;
  margin: 15px auto;
  position: relative;
}

#sidebar {
  width: 190px;
  position: fixed;
  margin-left: 410px;
}
